.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100vh;
}

.formWrapper {
    /* background: #fffff0; */
    /* background: #ffe4c4; */
    /* background: #dcdcdc; */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color:  #1e90ff;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}


::placeholder{
  font-style: italic;
  font-weight: 800;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 100px;
    width:400px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #dcdcdc;
    font-size: 16px;
    font-weight: bold;

}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn {
    background: #1e90ff;
    color: white;
    width: 100px;
    margin-left: auto;
}


.leaveBtn {
    background: #ff0000;
    color: white;
    width: 100px;
    margin-left: auto;
}


.joinBtn:hover{
    background: #87cefa;
}

.leaveBtn:hover {
    background: #ff6347;
}


.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #00539c;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
    color:#00ffff;
    border-color: #00ffff;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
}

.aside {
    background-color: #004b8d;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.together {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
    color:#fff;
}

.leaveBtn {
    width: 100%;
    margin-top: 20px;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}
